In [211]:
from utils.mapping import production_mapping
from utils.calculation import get_initial_data, get_data 
import pandas as pd
import numpy as np

In [213]:
# filtered_df, mapping_name, stocks_in_name = get_data(raw,'WCESTUS1')
# chart_df = chart_seasonality(filtered_df, mapping_name, stocks_in_name, True, True, True, True)
# chart_df.tail()

In [291]:
def extend_df(df):
    df = df.copy()
    extended_dates = pd.date_range(start=df['period'].iloc[-1] + pd.Timedelta(days=7), end='2024-12-27', freq='7D')
    extended_df = pd.DataFrame({'period': extended_dates})
    df = pd.concat([df, extended_df], ignore_index=True)
    return df

def add_weekOfYear_Year(df):
    # Insert week of year and year
    df = df.copy()
    df.insert(0,'week_of_year',df['period'].dt.isocalendar().week)
    df.insert(1,'year',df['period'].dt.year)
    df = df[df['week_of_year'] <= 52]
    return df

def select_seasonality_range(df, range_selector):
    df = df.copy()
    
    if range_selector == '1519':
        years = [2015, 2016, 2017, 2018, 2019]
    elif range_selector == '1823':
        years = [2018, 2019, 2021, 2022, 2023]
    
    def get_min_max(df, min_or_max, years):
        df = df.copy()
        df = df[df['year'].isin(years)]
        df = df.drop(columns=['period', 'year'])
        if min_or_max == 'min':
            df = df.groupby(['week_of_year']).min().reset_index()
        elif min_or_max == 'max':
            df = df.groupby(['week_of_year']).max().reset_index()
        return df

    def get_average(df, years):
        df = df[df['year'].isin(years)]
        df = df.drop(columns=['period', 'year'])
        df = df.groupby(['week_of_year']).mean().reset_index()
        df.insert(0, 'type', f'average_{range_selector}')    
        return df

    df_min = get_min_max(df, 'min', years)
    df_min.insert(0, 'type', f'min_{range_selector}')
    
    df_max = get_min_max(df, 'max', years)
    df_max.insert(0, 'type', f'max_{range_selector}')
    
    df_range = df_max.copy()
    for col in df_min.columns:
        if col not in ['type', 'week_of_year']:
            df_range[col] = df_max[col] - df_min[col]
    df_range['type'] = f'range_{range_selector}'
    
    df_average = get_average(df, years)
    
    dff = pd.concat([df_range, df_min, df_max,df_average])
    
    return dff


def get_seasonality_data(df):
    df = df.copy()
    # df = extend_df(df)
    df = add_weekOfYear_Year(df)

    df_1519 = select_seasonality_range(df, '1519')
    df_1823 = select_seasonality_range(df, '1823')    

    df.insert(0, 'type', 'actual')
    df['type'] = df['type'] + '_' + df['year'].astype(str)
    df.drop(columns=['year'], inplace=True)

    df = pd.concat([df,df_1519, df_1823])    
    df['week_of_year'] = df['week_of_year'].astype(int)
    
    df['period'] = pd.to_datetime(df['period'])
    
    
    def format_date(date):
        return date.strftime('%b %d') if pd.notnull(date) else 'No Date'    
    df['period'] = df['period'].apply(format_date)
    
    def format_value_case_insensitive(val, column_name):
        if "stocks" in column_name.lower():
            #divide by 1000
            val = val/1000
            return f"{val:,.1f}" if val >= 0 else f"({abs(val):,.1f})"
        else:
            return f"{val:,.0f}" if val >= 0 else f"({abs(val):,.0f})"

    df = df.set_index(['type','week_of_year','period'])
    cols = df.columns
    cols = [production_mapping[col] for col in cols]
    df.columns = cols

    for column in df.columns:
        df[column] = df[column].apply(lambda x: format_value_case_insensitive(x, column))

    reversed_mapping = {v: k for k, v in production_mapping.items()}
    df.columns = [reversed_mapping[col] for col in df.columns]
    
    #reset index
    df = df.reset_index()
    

    return df

raw = get_seasonality_data(get_initial_data())

In [361]:
df = raw.copy()
ids = list(production_mapping.keys())
ids = ids[:50]



def pivot_individual_data(df,id):
    
    def get_individual_data(df, id):
        cols = ['type','week_of_year','period', id] 
        df = df[cols]
        df = df.rename(columns={id: 'value'})
        return df    
    
    df = df.copy()
    df = get_individual_data(df, id)
    pivot_values = df.pivot_table(index=['week_of_year'], columns='type', values='value', aggfunc='first')
    pivot_dates = df[df['type'].str.contains('actual')].pivot_table(index=['week_of_year'], columns='type', values='period', aggfunc='first')
    pivot_dates.columns = [f'dates_{col}' for col in pivot_dates.columns]
    df = pd.concat([pivot_dates, pivot_values], axis=1)
    return df

df = pivot_individual_data(df, id)

dfs = {}
for id in ids:
    df = pivot_individual_data(raw, id)
    dfs = {**dfs, **{id: df}}

In [367]:
dfs['WCESTUS1']

,dates_actual_2015,dates_actual_2016,dates_actual_2017,dates_actual_2018,dates_actual_2019,dates_actual_2020,dates_actual_2021,dates_actual_2022,dates_actual_2023,dates_actual_2024,...,actual_2023,actual_2024,average_1519,average_1823,max_1519,max_1823,min_1519,min_1823,range_1519,range_1823
week_of_year,,,,,,,,,,,,,,,,,,,,,
1,Jan 02,Jan 08,Jan 06,Jan 05,Jan 04,Jan 03,Jan 08,Jan 07,Jan 06,Jan 05,...,439.6,432.4,428.5,438.9,483.1,482.2,348.8,413.3,134.3,68.9
2,Jan 09,Jan 15,Jan 13,Jan 12,Jan 11,Jan 10,Jan 15,Jan 14,Jan 13,Jan 12,...,448.0,429.9,428.9,439.6,485.5,486.6,354.2,412.7,131.3,73.9
3,Jan 16,Jan 22,Jan 20,Jan 19,Jan 18,Jan 17,Jan 22,Jan 21,Jan 20,Jan 19,...,448.5,420.7,434.5,439.6,488.3,476.7,364.3,411.6,124.0,65.1
4,Jan 23,Jan 29,Jan 27,Jan 26,Jan 25,Jan 24,Jan 29,Jan 28,Jan 27,Jan 26,...,452.7,421.9,440.7,441.6,494.8,475.7,373.1,415.1,121.6,60.5
5,Jan 30,Feb 05,Feb 03,Feb 02,Feb 01,Jan 31,Feb 05,Feb 04,Feb 03,Feb 02,...,455.1,427.4,445.2,440.4,508.6,469.0,379.5,410.4,129.1,58.6
6,Feb 06,Feb 12,Feb 10,Feb 09,Feb 08,Feb 07,Feb 12,Feb 11,Feb 10,Feb 09,...,471.4,439.4,449.5,443.5,518.1,471.4,383.8,411.5,134.3,59.9
7,Feb 13,Feb 19,Feb 17,Feb 16,Feb 15,Feb 14,Feb 19,Feb 18,Feb 17,Feb 16,...,479.0,443.0,452.3,446.6,518.7,479.0,391.5,416.0,127.2,63.0
8,Feb 20,Feb 26,Feb 24,Feb 23,Feb 22,Feb 21,Feb 26,Feb 25,Feb 24,Feb 23,...,480.2,447.2,455.2,449.5,520.2,484.6,399.9,413.4,120.2,71.2
9,Feb 27,Mar 04,Mar 03,Mar 02,Mar 01,Feb 28,Mar 05,Mar 04,Mar 03,Mar 01,...,478.5,448.5,461.7,453.5,528.4,498.4,410.2,411.6,118.1,86.8
10,Mar 06,Mar 11,Mar 10,Mar 09,Mar 08,Mar 06,Mar 12,Mar 11,Mar 10,Mar 08,...,480.1,447.0,463.1,455.4,528.2,500.8,415.4,415.9,112.7,84.9
11,Mar 13,Mar 18,Mar 17,Mar 16,Mar 15,Mar 13,Mar 19,Mar 18,Mar 17,Mar 15,...,481.2,445.0,465.5,453.0,533.1,502.7,425.0,413.4,108.1,89.3
12,Mar 20,Mar 25,Mar 24,Mar 23,Mar 22,Mar 20,Mar 26,Mar 25,Mar 24,Mar 22,...,473.7,448.2,468.6,451.5,534.0,501.8,429.9,409.9,104.0,91.9
13,Mar 27,Apr 01,Mar 31,Mar 30,Mar 29,Mar 27,Apr 02,Apr 01,Mar 31,Mar 29,...,470.0,451.4,469.4,451.1,535.5,498.3,425.3,412.4,110.2,85.9
14,Apr 03,Apr 08,Apr 07,Apr 06,Apr 05,Apr 03,Apr 09,Apr 08,Apr 07,Apr 05,...,470.5,457.3,474.7,454.0,533.4,492.4,428.6,421.8,104.7,70.7
15,Apr 10,Apr 15,Apr 14,Apr 13,Apr 12,Apr 10,Apr 16,Apr 15,Apr 14,Apr 12,...,466.0,460.0,474.7,451.1,532.3,493.0,427.6,413.7,104.8,79.3
16,Apr 17,Apr 22,Apr 21,Apr 20,Apr 19,Apr 17,Apr 23,Apr 22,Apr 21,Apr 19,...,460.9,453.6,476.9,451.8,528.7,493.1,429.7,414.4,99.0,78.7
17,Apr 24,Apr 29,Apr 28,Apr 27,Apr 26,Apr 24,Apr 30,Apr 29,Apr 28,Apr 26,...,459.6,460.9,480.9,453.4,527.8,485.1,436.0,415.7,91.8,69.4
18,May 01,May 06,May 05,May 04,May 03,May 01,May 07,May 06,May 05,May 03,...,462.6,459.5,477.1,454.4,522.5,484.7,433.8,424.2,88.8,60.5
19,May 08,May 13,May 12,May 11,May 10,May 08,May 14,May 13,May 12,May 10,...,467.6,457.0,477.4,455.8,520.8,486.0,432.4,420.8,88.4,65.2
20,May 15,May 20,May 19,May 18,May 17,May 15,May 21,May 20,May 19,May 17,...,455.2,458.8,477.2,454.8,516.3,484.3,438.1,419.8,78.2,64.5
21,May 22,May 27,May 26,May 25,May 24,May 22,May 28,May 27,May 26,May 24,...,459.7,454.7,474.3,452.9,509.9,479.3,434.5,414.7,75.4,64.5
22,May 29,Jun 03,Jun 02,Jun 01,May 31,May 29,Jun 04,Jun 03,Jun 02,May 31,...,459.2,455.9,475.9,454.0,513.2,483.3,436.6,416.8,76.6,66.5
23,Jun 05,Jun 10,Jun 09,Jun 08,Jun 07,Jun 05,Jun 11,Jun 10,Jun 09,Jun 07,...,467.1,459.7,473.8,454.1,511.5,485.5,432.4,418.7,79.1,66.8
24,Jun 12,Jun 17,Jun 16,Jun 15,Jun 14,Jun 12,Jun 18,Jun 17,Jun 16,Jun 14,...,463.3,457.1,470.8,449.9,509.1,482.4,426.5,418.3,82.6,64.0
25,Jun 19,Jun 24,Jun 23,Jun 22,Jun 21,Jun 19,Jun 25,Jun 24,Jun 23,Jun 21,...,453.7,460.7,464.4,441.6,509.2,469.6,416.6,415.6,92.6,54.0
26,Jun 26,Jul 01,Jun 30,Jun 29,Jun 28,Jun 26,Jul 02,Jul 01,Jun 30,Jun 28,...,452.2,448.5,463.2,441.6,502.9,468.5,417.9,417.9,85.0,50.6
27,Jul 03,Jul 08,Jul 07,Jul 06,Jul 05,Jul 03,Jul 09,Jul 08,Jul 07,Jul 05,...,458.1,445.1,456.9,437.4,495.4,459.0,405.2,405.2,90.1,53.7
28,Jul 10,Jul 15,Jul 14,Jul 13,Jul 12,Jul 10,Jul 16,Jul 15,Jul 14,NaN,...,457.4,NaN,455.2,438.1,490.6,457.4,411.1,411.1,79.5,46.3
29,Jul 17,Jul 22,Jul 21,Jul 20,Jul 19,Jul 17,Jul 23,Jul 22,Jul 21,NaN,...,456.8,NaN,451.1,432.9,490.5,456.8,404.9,404.9,85.6,51.9
30,Jul 24,Jul 29,Jul 28,Jul 27,Jul 26,Jul 24,Jul 30,Jul 29,Jul 28,NaN,...,439.8,NaN,449.3,430.2,491.9,439.8,408.7,408.7,83.2,31.0
31,Jul 31,Aug 05,Aug 04,Aug 03,Aug 02,Jul 31,Aug 06,Aug 05,Aug 04,NaN,...,445.6,NaN,447.6,432.5,493.0,445.6,407.4,407.4,85.6,38.2
32,Aug 07,Aug 12,Aug 11,Aug 10,Aug 09,Aug 07,Aug 13,Aug 12,Aug 11,NaN,...,439.7,NaN,446.7,431.0,490.5,440.5,414.2,414.2,76.3,26.3
33,Aug 14,Aug 19,Aug 18,Aug 17,Aug 16,Aug 14,Aug 20,Aug 19,Aug 18,NaN,...,433.5,NaN,445.3,426.8,493.0,437.8,408.4,408.4,84.6,29.4
34,Aug 21,Aug 26,Aug 25,Aug 24,Aug 23,Aug 21,Aug 27,Aug 26,Aug 25,NaN,...,422.9,NaN,441.1,420.0,495.2,427.8,405.8,405.8,89.4,22.0
35,Aug 28,Sep 02,Sep 01,Aug 31,Aug 30,Aug 28,Sep 03,Sep 02,Sep 01,NaN,...,416.6,NaN,438.2,418.4,480.7,427.2,401.5,401.5,79.2,25.7
36,Sep 04,Sep 09,Sep 08,Sep 07,Sep 06,Sep 04,Sep 10,Sep 09,Sep 08,NaN,...,420.6,NaN,437.3,416.0,480.2,429.6,396.2,396.2,84.0,33.4
37,Sep 11,Sep 16,Sep 15,Sep 14,Sep 13,Sep 11,Sep 17,Sep 16,Sep 15,NaN,...,418.5,NaN,436.4,414.9,474.0,430.8,394.1,394.1,79.8,36.6
38,Sep 18,Sep 23,Sep 22,Sep 21,Sep 20,Sep 18,Sep 24,Sep 23,Sep 22,NaN,...,416.3,NaN,436.1,416.2,472.1,430.6,396.0,396.0,76.1,34.6
39,Sep 25,Sep 30,Sep 29,Sep 28,Sep 27,Sep 25,Oct 01,Sep 30,Sep 29,NaN,...,414.1,NaN,437.3,418.2,469.1,429.2,404.0,404.0,65.1,25.2
40,Oct 02,Oct 07,Oct 06,Oct 05,Oct 04,Oct 02,Oct 08,Oct 07,Oct 06,NaN,...,424.2,NaN,440.1,425.2,474.0,439.1,410.0,410.0,64.0,29.1
41,Oct 09,Oct 14,Oct 13,Oct 12,Oct 11,Oct 09,Oct 15,Oct 14,Oct 13,NaN,...,419.7,NaN,442.6,427.0,468.7,437.4,416.4,416.4,52.3,20.9
42,Oct 16,Oct 21,Oct 20,Oct 19,Oct 18,Oct 16,Oct 22,Oct 21,Oct 20,NaN,...,421.1,NaN,445.2,429.6,468.2,439.9,422.8,421.1,45.4,18.8
43,Oct 23,Oct 28,Oct 27,Oct 26,Oct 25,Oct 23,Oct 29,Oct 28,Oct 27,NaN,...,421.9,NaN,450.1,431.5,482.6,438.9,426.0,421.9,56.6,17.0
44,Oct 30,Nov 04,Nov 03,Nov 02,Nov 01,Oct 30,Nov 05,Nov 04,Nov 03,NaN,...,435.8,NaN,454.3,438.0,485.0,446.8,431.8,431.8,53.2,15.0
45,Nov 06,Nov 11,Nov 10,Nov 09,Nov 08,Nov 06,Nov 12,Nov 11,Nov 10,NaN,...,439.4,NaN,459.0,439.8,490.3,449.0,442.1,433.0,48.2,16.0
46,Nov 13,Nov 18,Nov 17,Nov 16,Nov 15,Nov 13,Nov 19,Nov 18,Nov 17,NaN,...,448.1,NaN,459.7,442.2,489.0,450.4,446.9,431.7,42.1,18.7
47,Nov 20,Nov 25,Nov 24,Nov 23,Nov 22,Nov 20,Nov 26,Nov 25,Nov 24,NaN,...,449.7,NaN,460.1,440.9,488.1,452.0,450.5,419.1,37.7,32.9
48,Nov 27,Dec 02,Dec 01,Nov 30,Nov 29,Nov 27,Dec 03,Dec 02,Dec 01,NaN,...,445.0,NaN,456.3,436.4,485.8,447.1,443.2,413.9,42.6,33.2
49,Dec 04,Dec 09,Dec 08,Dec 07,Dec 06,Dec 04,Dec 10,Dec 09,Dec 08,NaN,...,440.8,NaN,453.9,436.6,483.2,447.9,442.0,424.1,41.2,23.8
50,Dec 11,Dec 16,Dec 15,Dec 14,Dec 13,Dec 11,Dec 17,Dec 16,Dec 15,NaN,...,443.7,NaN,453.7,434.8,485.4,446.8,436.5,418.2,49.0,28.6
51,Dec 18,Dec 23,Dec 22,Dec 21,Dec 20,Dec 18,Dec 24,Dec 23,Dec 22,NaN,...,436.6,NaN,450.6,431.7,486.1,441.4,431.9,419.0,54.2,22.5
52,Dec 25,Dec 30,Dec 29,Dec 28,Dec 27,Dec 25,Dec 31,Dec 30,Dec 29,NaN,...,431.1,NaN,446.0,428.2,479.0,441.4,424.5,417.9,54.5,23.6

In [ ]:
tickvals = [0, 5, 9, 14, 18, 22, 27, 31, 36, 40, 45, 49]
ticktext = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

def chart_seasonality(df, mapping_name, stocks_in_name, toggle_seag_range, toggle_2022,toggle_2023,toggle_2024):
    
    cols = ['type','week_of_year','period', id] 
    df = df[cols]

    min_1519_mask = df['type'] == 'min_1519'
    max_1519_mask = df['type'] == 'max_1519'
    average_1519_mask = df['type'] == 'average_1519'
    min_1823_mask = df['type'] == 'min_1823'
    average_1823_mask = df['type'] == 'average_1823'

    actual_2024_mask = df['type'] == 'actual_2024'
    actual_2023_mask = df['type'] == 'actual_2023'
    actual_2022_mask = df['type'] == 'actual_2022'    

    if not toggle_seag_range:
        min_rng = df[df['type']=='min_1519']
        max_rng = df[df['type']=='max_1519']
        avg_rng = df[df['type']=='average_1519']
    else:
        min_rng = df[df['type']=='min_1823']
        max_rng = df[df['type']=='min_1823']
        avg_rng = df[df['type']=='average_1823']

    period_2024 = df[df['type']=='actual_2024']
    period_2023 = df[df['type']=='actual_2023']
    period_2022 = df[df['type']=='actual_2022']

    traces = []


    traces.append(go.Scatter(
        x=min_rng['week_of_year'],
        y=min_rng['value'],
        mode='lines',
        line=dict(width=0),
        showlegend=False,
        hoverinfo='skip'
    ))

    traces.append(go.Scatter(
        x=max_rng['week_of_year'],
        y=max_rng['value'],
        mode='lines',
        fill='tonexty',
        fillcolor='#f4f5f9',
        line_color='#f4f5f9', 
        showlegend=False,
        hoverinfo='skip'
    ))

    traces.append(go.Scatter(
        x=avg_rng['week_of_year'],
        y=avg_rng['value'],
        mode='lines',
        line=dict(color='black', dash='dot', width=1),
        showlegend=False,
        hoverinfo='skip'
    ))

    if not toggle_2024:
        traces.append(go.Scatter(
            x=df['week_of_year'],
            y=df['value_2024'],
            mode='lines',
            name='2024',
            hoverinfo='text',
            text=df.apply(lambda row: f"{format_date(row['period_2024'])}: {format_value(row['value_2024'],stocks_in_name)}", axis=1),
            line=dict(color='#c00000', dash='solid', width=2),
        ))

    if not toggle_2023:
        traces.append(go.Scatter(
            x=df['week_of_year'],
            y=df['value_2023'],
            mode='lines',
            name='2023',
            hoverinfo='text',
            line=dict(color='#e97132', dash='solid', width=2),
            text=df.apply(lambda row: f"{format_date(row['period_2023'])}: {format_value(row['value_2023'],stocks_in_name)}", axis=1),
        ))

    if not toggle_2022:
        traces.append(go.Scatter(
            x=df['week_of_year'],
            y=df['value_2022'],
            mode='lines',
            name='2022',
            hoverinfo='text',
            line=dict(color='#bfbec4', dash='solid', width=2),
            text=df.apply(lambda row: f"{format_date(row['period_2022'])}: {format_value(row['value_2022'],stocks_in_name)}", axis=1),
        ))


    layout = go.Layout(

        title=dict(
            text=mapping_name,
            y=0.97,
            x=0.03,
            xanchor='left',
            yanchor='top',
            font=dict(
                color='black'
            )
        ),   

        xaxis=dict(
            range=[0, len(df['week_of_year']) - 1],
            tickmode='array',
            tickvals=tickvals,
            ticktext=ticktext,
            type='category',
            showspikes=True,
            spikedash='solid',
            spikecolor='grey',
            spikethickness=0.5,
            spikemode='across',
            showline=True,
            showgrid=False,
            linecolor='black',
            linewidth=0.5,
            zeroline=False
        ),
        yaxis=dict(
            tickformat=',.0fK',
            showgrid=False,
            showline=True,
            linecolor='black',
            linewidth=0.5,
            zeroline=False
        ),
        hovermode='x unified',
        template='plotly_white',
        legend=dict(
            x=0.85,
            y=1.0,
            xanchor='left',
            yanchor='top',
            orientation='v'
        ),
        hoverlabel=dict(
            bgcolor="white",
            font_size=16,
            font_family="Open Sans",
            bordercolor="#ccc"
        ),
        margin=dict(l=40, r=40, t=40, b=25),        
        showlegend=True
    )


    # Return the figure as a dictionary
    return {'data': traces, 'layout': layout}