In [ ]:
import pandas as pd

def get_dpr_ids():
    df = pd.read_feather('./data/steo/steo_pivot.feather')
    mapping_dpr = pd.read_csv('./lookup/steo/mapping_dpr.csv')

    lst = mapping_dpr['id'].tolist()
    lst = list(dict.fromkeys(lst))
    
    df = df[df['id'].isin(lst)]    
    df = df.reset_index(drop=True)
    
    df.to_feather('data/steo/steo_pivot_dpr.feather')
    
    return df

def get_other_dpr_ids():
    df = pd.read_feather('./data/steo/steo_pivot.feather')
    mapping_dpr = pd.read_csv('./lookup/steo/mapping_dpr_other.csv')

    lst = mapping_dpr['id'].tolist()
    lst = list(dict.fromkeys(lst))
    
    df = df[df['id'].isin(lst)]    
    df = df.reset_index(drop=True)
    
    df.to_feather('data/steo/steo_pivot_dpr_other.feather')

def main():
    df = get_dpr_ids()
    # get_other_dpr_ids()
    return df
    
if __name__ == '__main__':
    df = main()

In [9]:
df

period,id,name,release_date,uom,2020-01-01,2020-02-01,2020-03-01,2020-04-01,2020-05-01,2020-06-01,...,2025-03-01,2025-04-01,2025-05-01,2025-06-01,2025-07-01,2025-08-01,2025-09-01,2025-10-01,2025-11-01,2025-12-01
383,COEOPAP,"appalachia existing oil production change, one...",2024-07-01,kbd,-13.645884,-13.418639,-12.669610,-11.889344,-10.487761,-9.651850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
384,COEOPAP,"appalachia existing oil production change, one...",2024-08-01,kbd,-13.645884,-13.418639,-12.669610,-11.889344,-10.487761,-9.651850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385,COEOPAP,"appalachia existing oil production change, one...",2024-09-01,kbd,-13.645884,-13.418639,-12.669610,-11.889344,-10.487761,-9.651850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
386,COEOPAP,"appalachia existing oil production change, one...",2024-10-01,kbd,-13.792100,-13.639410,-12.894905,-12.103376,-10.590656,-9.670815,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387,COEOPAP,"appalachia existing oil production change, one...",2024-11-01,kbd,-13.792149,-13.639504,-12.895034,-12.103519,-10.590689,-9.670644,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3380,RIGSR48,"rest of lower 48 states, excluding gom active ...",2024-07-01,count,133.666667,125.750000,119.000000,76.000000,35.600000,29.750000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3381,RIGSR48,"rest of lower 48 states, excluding gom active ...",2024-08-01,count,133.666667,125.750000,119.000000,76.000000,35.600000,29.750000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3382,RIGSR48,"rest of lower 48 states, excluding gom active ...",2024-09-01,count,133.666667,125.750000,119.000000,76.000000,35.600000,29.750000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3383,RIGSR48,"rest of lower 48 states, excluding gom active ...",2024-10-01,count,133.666667,125.750000,119.000000,76.000000,35.600000,29.750000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3384,RIGSR48,"rest of lower 48 states, excluding gom active ...",2024-11-01,count,133.666667,125.750000,119.000000,76.000000,35.600000,29.750000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df

period,id,name,release_date,uom,2020-01-01,2020-02-01,2020-03-01,2020-04-01,2020-05-01,2020-06-01,...,2025-03-01,2025-04-01,2025-05-01,2025-06-01,2025-07-01,2025-08-01,2025-09-01,2025-10-01,2025-11-01,2025-12-01
0,COEOPAP,"appalachia existing oil production change, one...",2024-07-01,kbd,-13.645884,-13.418639,-12.669610,-11.889344,-10.487761,-9.651850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,COEOPAP,"appalachia existing oil production change, one...",2024-08-01,kbd,-13.645884,-13.418639,-12.669610,-11.889344,-10.487761,-9.651850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,COEOPAP,"appalachia existing oil production change, one...",2024-09-01,kbd,-13.645884,-13.418639,-12.669610,-11.889344,-10.487761,-9.651850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,COEOPAP,"appalachia existing oil production change, one...",2024-10-01,kbd,-13.792100,-13.639410,-12.894905,-12.103376,-10.590656,-9.670815,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,COEOPAP,"appalachia existing oil production change, one...",2024-11-01,kbd,-13.792149,-13.639504,-12.895034,-12.103519,-10.590689,-9.670644,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,RIGSR48,"rest of lower 48 states, excluding gom active ...",2024-07-01,count,133.666667,125.750000,119.000000,76.000000,35.600000,29.750000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
406,RIGSR48,"rest of lower 48 states, excluding gom active ...",2024-08-01,count,133.666667,125.750000,119.000000,76.000000,35.600000,29.750000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
407,RIGSR48,"rest of lower 48 states, excluding gom active ...",2024-09-01,count,133.666667,125.750000,119.000000,76.000000,35.600000,29.750000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
408,RIGSR48,"rest of lower 48 states, excluding gom active ...",2024-10-01,count,133.666667,125.750000,119.000000,76.000000,35.600000,29.750000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
409,RIGSR48,"rest of lower 48 states, excluding gom active ...",2024-11-01,count,133.666667,125.750000,119.000000,76.000000,35.600000,29.750000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN